{:infantry {:unit-type :infantry
            :hp 10 :max-hp 10
            :move-points 3 :max-move-points 3
            :movement-table {:field 1
                             :road 0.5
                             :trees 1
                             :mountains 2}
            :can-attack true
            :offensive-power 55
            :terrain-bonus {:on-attack {:defense {:road 0
                                                  :field 0.5
                                                  :trees 1
                                                  :mountains 2}
                                        :damage {:road 0
                                                 :field 0
                                                 :trees 1
                                                 :mountains 3}}
                            :on-defence {:defense {:road 0
                                                   :field 1
                                                   :trees 2
                                                   :mountains 4}
                                         :damage {:road 0
                                                  :field 0
                                                  :trees 2
                                                  :mountains 2}}}}
 :artillery {:unit-type :artillery
             :hp 10 :max-hp 10
             :move-points 2 :max-move-points 2
             :movement-table {:field 1
                              :road 0.5
                              :trees 2
                              :mountains 3}
             :can-attack true
             :offensive-power 55
             :terrain-bonus {:on-attack {:defense {:road 0
                                                   :field 0.5
                                                   :trees 1
                                                   :mountains 2}
                                         :damage {:road 0
                                                  :field 0
                                                  :trees 1
                                                  :mountains 3}}
                             :on-defence {:defense {:road 0
                                                    :field 1
                                                    :trees 2
                                                    :mountains 4}
                                          :damage {:road 0
                                                   :field 0
                                                   :trees 2
                                                   :mountains 2}}}}
 :cavalry {:unit-type :cavalry
           :hp 10 :max-hp 10
           :move-points 3 :max-move-points 3
           :movement-table {:road 0.5
                            :field 1
                            :trees 3
                            :mountains 4}
           :can-attack true
           :offensive-power 75
           :terrain-bonus {:on-attack {:defense {:road 0
                                                 :field 0.5
                                                 :trees 1
                                                 :mountains 2}
                                       :damage {:road 0
                                                :field 0
                                                :trees 1
                                                :mountains 3}}
                           :on-defence {:defense {:road 0
                                                  :field 1
                                                  :trees 2
                                                  :mountains 4}
                                        :damage {:road 0
                                                 :field 0
                                                 :trees 2
                                                 :mountains 2}}}}}