{:infantry {:unit-type :infantry
            :soldiers 1000
            :move-points 3 :max-move-points 3
            :movement-table {:field 1
                             :road 0.5
                             :trees 1
                             :mountains 2}
            :move-over false}
 :artillery {:unit-type :artillery
             :soldiers 1000
             :move-points 2 :max-move-points 2
             :movement-table {:field 1
                              :road 0.5
                              :trees 2
                              :mountains 3}
             :move-over false}
 :cavalry {:unit-type :cavalry
           :soldiers 1000
           :move-points 3 :max-move-points 3
           :movement-table {:road 0.5
                            :field 1
                            :trees 3
                            :mountains 4}
           :move-over false}
 :general {:unit-type :general
           :can-attack false
           :soldiers 25
           :move-points 3 :max-move-points 3
           :movement-table {:road 0.5
                            :field 1
                            :trees 3
                            :mountains 4}
           :move-over false}}
