{:map "aw_ft1"
 :red [[:infantry "73rd New York Regiment" "73rd" [5 3]]
       [:infantry "86rd Illinois Regiment" "86th" [3 5]]
       [:general "Brigadier General Ironside" "X" [3 3]]]
 :blue [[:infantry "15th Virginia Regiment" "15th" [13 5]]
        [:infantry "23rd Virginia Regiment" "23rd" [13 8]]]
 :turn :red
 :turn-number 0}