{:map "los_test"
 :red [[:infantry "inf" "inf" [5 5]]
       [:infantry "inf" "inf" [16 5]]]
 :blue [[:infantry "inf" "inf" [9 6]] [:infantry "inf" "inf" [8 7]]
        [:infantry "inf" "inf" [7 8]] [:infantry "inf" "inf" [6 9]]
        [:infantry "inf" "inf" [20 6]] [:infantry "inf" "inf" [19 7]]
        [:infantry "inf" "inf" [18 8]] [:infantry "inf" "inf" [19 9]]
        [:infantry "inf" "inf" [16 10]]]
 :turn :red
 :turn-number 0}