{:map "ready_to_attack"
 :red [[:infantry "inf" "inf" [6 6]] [:infantry "inf" "inf" [6 7]]
       [:infantry "inf" "inf" [6 8]] [:cavalry "cav" "cav" [7 3]]]
 :blue [[:infantry "inf" "inf" [7 6]] [:infantry "inf" "inf" [7 7]]
        [:infantry "inf" "inf" [7 8]]]
 :turn :red
 :turn-number 0}