{:map "visibility_test"
 :red [[:infantry "inf" "inf" [4 4]]
       [:infantry "inf" "inf" [2 2]]
       [:infantry "inf" "inf" [9 9]]]
 :blue
 [[:infantry "inf" "inf" [1 1]] [:infantry "inf" "inf" [3 2]]
  [:infantry "inf" "inf" [3 3]] [:infantry "inf" "inf" [3 4]]
  [:infantry "inf" "inf" [4 1]] [:infantry "inf" "inf" [4 7]]
  [:infantry "inf" "inf" [6 4]] [:infantry "inf" "inf" [7 4]]
  [:infantry "inf" "inf" [4 2]] [:infantry "inf" "inf" [5 3]]]
 :turn :red
 :turn-number 0}